div{

    height: 150px;
    width:150px;
    background-color: aquamarine;
    color:white;
    border:2px solid black;
}
.boxxx{
      height: 150px;
    width:150px;
    background-color: aquamarine;
    color:white;
    border:2px solid black;
}
