div{


    height:100px;
    width:100px;
    background-color: green;
    border-style: solid;
    border-color: darkgreen;
    border-radius: 50%;
    font-size: 10px;
}
p{

    display:inline-block;
    margin:25px;
    color:rgba(255, 2, 2, 0.45);


}