body{
 text-align:center;   
}
div{
    height:100px;
    width:150px;
    display:inline-block;
    border:2px solid black;
}
#container{
    
    width:1000px;
    height:700px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
 /*flex-wrap: wrap;*/
  align-items:flex-start;
  position:fixed;
  left:500px;
  /*align-content:flex-end;*/
  

}
#box1{
    background-color: aqua;
    flex-grow:1;
    flex-shrink:2;
}
#box2{
    background-color: blue;
    height:200px;
    flex-grow:2;
 /*which means no shrink at all only others will shrink*/
}
#box3{
    background-color: chartreuse;
    height:75px;
    /*align-self:flex-end;*/
}
#box4{
    background-color: deeppink;
}
#box5{
    background-color: maroon;
    
}